.side_bar
 .side-header
  .top-items
   %h3.top-items__name 
    = current_user.name
   %ul.top_items__icons
     %li.top_items__icons___new-group
       = link_to do
         = icon('fas', 'pen-square', class: 'icon')
     %li.top_items__icons__edit-user
       = link_to edit_user_path(current_user) do
         = icon('fas', 'cog', class: 'icon')
      

 .groups
  .group
   .group__group-name
    グループ名
   .group__group-message
    新着メッセージ

  .group
   .group__group-name
    グループ名
   .group__group-message
    新着メッセージ

  .group
   .group__group-name
    グループ名
   .group__group-message
    新着メッセージ
